body{
background-color: #3030ff;
}
h2{
color: #FF3030;
text-align: center;
font-size: 8mm; 
}
.contacto{
background-color: #30ff30;
position: absolute;
right: 5mm;
top: 5mm;
padding-bottom: 2mm;
padding-left: 2mm;
padding-right: 2mm;
padding-top: 2mm;
color: #000000;
float: right;
}
img{
width: 100px;
}
.inicio{
background-color: #30ff30;
position: absolute;
left: 5mm;
top: 5mm;
padding-bottom: 2mm;
padding-left: 2mm;
padding-right: 2mm;
padding-top: 2mm;
color: #000000;
}
.contactar{
background-color: #30ff30;
position: absolute;
left: 100mm;
top: 50mm;
padding-bottom: 5mm;
padding-left: 5mm;
padding-right: 5mm;
padding-top: 5mm;
}
.contenido{
position: relative;
top: 15mm;
}
.principal{
background-color: #30ff30;
margin-left: 60mm;
margin-right: 60mm;
padding-bottom: 5mm;
padding-left: 5mm;
padding-right: 5mm;
padding-top: 5mm;
}
.principal a:visited{
color: #000000;
}
.principal a:link{
color: #000000;
}
